<!DOCTYPE html>
<html>
<head>
	<title>Register</title>
	<link rel="stylesheet" type="text/css" href="bootstrap.css">
	<style type="text/css">
		h1{
			font-size: 72px;
 			 background: -webkit-linear-gradient( #ff66ff, #00ffff);
  			-webkit-background-clip: text;
  			-webkit-text-fill-color: transparent;
		}
		h2{
			font-size:40x;
 			 background: -webkit-linear-gradient( #ff66ff, #00ffff);
  			-webkit-background-clip: text;
  			-webkit-text-fill-color: transparent;
		}
		#loginbox{
			margin-top: 50px;
			background-color: #ff4d4d;
			height:420px;
			padding-top: 30px;
		}
	</style>
</head>
<body style="background-color: #ffb3b3">

  <div class="row">
    <div class="col-sm-12" style="background-color: #ff4d4d">
     <h1>MAIL APP</h1>
    </div>
    
  </div>
  <center>
   <div id = 'loginbox' class="col-sm-4">
  	<h2>Create Account Here</h2>
  	 <form action="register" method="post">
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" class="form-control" id="name" name="name">
  </div>
   <div class="form-group">
    <label for="email">Email:</label>
    <input type="email" class="form-control" id="email" name="email">
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" id="pwd" name="pwd">
  </div>
  <button type="submit" class="btn btn-primary">Register</button>
</form>
  </div>
 
  </center>

</body>
</html>